# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
static/

# Entorno virtual
venv/
ENV/

# VS Code
.vscode/

# PyCharm
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de ambiente
.env

# Archivos de caché
*.pyc
.cache/

# Archivos de procesamiento de video
processed_videos/ 